<div class="container" ng-controller="aclaracionesController">
<div ng-repeat="data in datos">	
	<div class="row" >
		<div class="col-xs-6">
			<h1 style="text-align: center;">{{ mostrar }}</h1>
			<h1 style="text-align: center;">{{ data.turno }}</h1>
			<h1 style="text-align: center;">{{ data.asunto }}</h1>
			<div ng-if="data == null" >
				<h1 style="text-align: center;">No hay numeros en espera</h1>
			</div>
		</div>
		<div class="col-xs-6">
			<h1 ng-if="data!=null">
				<button class="btn btn-primary btn-lg" id="btn-comenzar" ng-disabled="tomar" ng-click="tomar_turno(data.id, data.turno, data.subasunto)">Tomar
				</button>
			</h1>
			<h1>
				<button class="btn btn-danger btn-lg"  ng-disabled="abandonado" ng-click="turno_abandonado(data.id, data.turno)">Abandonado</button>
			</h1>
			<h1>
				<button class="btn btn-success btn-lg" ng-disabled="terminar" ng-click="terminar_turno(data.id, data.turno)">Terminar</button>
			</h1>
			<h1>
				<button  class="btn btn-primary btn-lg" ng-disabled="volver" ng-click="volver_atras()">Volver</button>
			</h1>
		</div>
	</div>
</div>
</div>