<hr>
<div class="container" ng-controller="empezarController">
<div ng-repeat="data in datos">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center;">Turno en  espera 
				<span ng-click="refresh()" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			</h1>
			<h1 style="text-align: center;">{{ data.turno }}</h1>
			<h1 style="text-align: center;">{{ data.asunto }}</h1>
		</div>
		
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4">
			<h1 style="text-align: center;">
				<button class="btn btn-primary btn-lg" id="btn-comenzar" ng-click="tomar_turno(data.id, data.turno)">Tomar</button>
			</h1>
		</div>
		<div class="col-md-4">
			<h1 style="text-align: center;">
				<button class="btn btn-danger btn-lg" ng-click="turno_abandonado(data.id, data.turno)">Abandonado</button>
			</h1>
		</div>
		<div class="col-md-4">
			<h1 style="text-align: center;">
				<button class="btn btn-success btn-lg" ng-click="terminar(data.id, data.turno)">Terminar</button>
			</h1>
		</div>
	</div>
	<input type="hidden" name="tiempo" id="noc"  class="form-control">
</div>
</div>